<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>献立管理システム</title>
    <!-- レスポンシブ対応用 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/public/css/.css" />
  </head>
  <body>
    <% if (error) { %>
<div class="modal-overlay">
  <div class="modal">
    <div class="modal-content">
      <p class="modal-error"><%= error %></p>
      <a href="/login" class="modal-btn">戻る</a>
    </div>
  </div>
</div>
<% } %>
    <div class="login">
      <h3>ログイン</h3>
    </div>

    <div class="infoInput">
      <form class="input" action="/login" method="post">
        <label>メールアドレス:</label>
        <input type="email" name="mail" required />
        <label>パスワード:</label>
        <input type="password" name="password" required />
        <input type="submit" value="ログイン" />
      </form>
      <div class="pageChange">
        <a href="/newUser">新規登録はこちら</a>
        <!-- <a href="/forgetPassword">パスワードをお忘れの方はこちら</a> -->
      </div>
    </div>
    <script></script>
  </body>
</html>
