<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>献立管理システム</title>
    <!-- レスポンシブ対応用 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/css/.css" />
  </head>
  <body>
    <div class="main">
      <h3>メイン画面</h3>
    </div>
    <script></script>
  </body>
</html>
