<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>献立管理システム</title>
    <!-- レスポンシブ対応用 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/public/css/.css" />
  </head>
  <body>
    <div class="newUser">
      <!-- 新規登録の写真 -->
      <h3>新規登録</h3>
    </div>
    <div class="infoInput">
      <form class="input" action="/newUser" method="post">
        <label for="">メールアドレス</label>
        <input type="email" name="email" required />

        <label for="">パスワード</label>
        <input type="password" name="password" required />

        <label for="">パスワード確認</label>
        <input type="password" name="password2" required />

        <label for="">身長(cm)</label>
        <input type="number" name="height" required />

        <label for="">体重(kg)</label>
        <input type="number" name="weight" required />

        <label for="">性別</label>
        <select name="gender" required>
          <option value="male">男性</option>
          <option value="female">女性</option>
        </select>
        <label for="">生年月日</label>
        <input type="date" name="birthday" required />
        <input type="submit" value="登録する" />
      </form>
      <div class="pageChange">
        <a href="/login">ログイン画面へ</a>
      </div>
    </div>
    <script></script>
  </body>
</html>
